@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Poppins:wght@200;400&display=swap');
*{
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: #ebebec !important;
  line-height: 64px;
  background: #ededed !important;
}


.brand {
  font-size: 40px;
  color: dodgerblue !important;
  text-align: center;
}



.inputtodo{
  text-align: center;
  margin: auto;
  display: block;
}
.ant-col{
  padding-top: 10px;
  margin: auto;
}
.todotitle{
  font-size: 20px;
  text-align: center;
}
.dateandtime{
  padding-left: 185px;
}
p {
  margin-top: -36px;
  
}
.todoinput{
  align-items: center;
}
.selbtn{
  text-align: end;
}
.selcheck{
  text-align: end;
}

@media (max-width: 768px) {
  .dateandtime{
    padding-left: 65px;
  }
}





